{% extends "network/layout.html" %}
{% load static %}

{% block body %}

<h1 id="h1-title"></h1>
<div id="header"></div>

<div id="posts-view"></div>
<nav id="posts-pagnation">
    <ul class="pagination justify-content-center">
        <li id="previous-page" class="page-item disabled">
            <a class="page-link">Previous</a>
        </li>
        <li class="page-item"><a id="current-page" class="page-link"></a></li>
        <li id="next-page" class="page-item disabled">
            <a class="page-link">Next</a>
        </li>
    </ul>
</nav>

<div class="modal fade" id="editPostModal" tabindex="-1" aria-labelledby="editPostModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editPostModalLabel"></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form id="edit-post-form">
                <div class="modal-body" id="editPostModalBody">
                    <h4>Old:</h4>
                    <div id="editPostModalBodyPost"></div>
                    <hr>
                    <h4>New:</h4>
                    <div id="editPostModalBodyInput" class="col-12"></div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button id="edit-post-btn" type="submit" class="btn btn-primary"
                        data-bs-dismiss="modal">Edit</button>
                </div>
            </form>
        </div>
    </div>
</div>

<!--div class="modal fade" id="replyPostModal" tabindex="-1" aria-labelledby="commentPostModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="commentPostModalLabel"></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" id="commentPostModalBody">
                <div id="commentPostModalBodyPost">

                </div>
                <hr>
                <div id="commentPostModalBodyReply" class="col-12">

                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Reply</button>
            </div>
        </div>
    </div>
</div-->
{% block script %}
<script type="module" src="{% static 'network/index.mjs' %}"></script>
{% endblock %}
{% endblock %}